body {
  width: 480px;
}

h1, article {
  width: 100%;
}

h1 {
  height: 75px;
}

aside {
  height: 150px;
}

.c, .d {
  height: 125px;
}

.e, .f, .g, .h {
  width: 50%;
  height: 250px;
  float: left;
}

.i{
  height: 80px;
}

@media (min-width: 768px) {
body {
  width: 960px;
}

h1, aside, article {
  float: left;
}

aside {
  height: 600px;
  width: 20.833333%;
}
.c, .d {
  width: 39.583333%;
  height: 200px;
}
.e, .f, .g, .h {
  width: 19.791667%;
  height: 250px;
}
.i {
  height: 150px;
  width: 79.166667%;
}

}