
main div {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid grey;
}

#a {
  background-color: #73FFFF;
}
#b {
  background-color: #00D9D9;
}
#c {
  background-color: #00B2B2;
}
#d {
  background-color: #00B2B2;
}
#e {
  background-color: #008C8C;
}
#f {
  background-color: #008C8C;
}
#g {
  background-color: #008C8C;
}
#h {
    background-color: #008C8C;
}
#i {
  background-color: #005f5f;
}

@media (min-width: 500px) {
  #a {
    background-color: #807eec;
    color: honeydew;
  
  }
  #b {
    background-color: #6b69bb;
    color: honeydew
  }
  #c {
    background-color: #3f3e9c;
    color: honeydew;
  }
  #d {
    background-color: #3f3e9c;
    color: honeydew;
  }
  #e {
    background-color: #222163;
    color: honeydew;
  }
  #f {
    background-color: #222163;
    color: honeydew;
  }
  #g {
    background-color: #222163;
    color: honeydew;
  }
  #h {
      background-color: #222163;
      color: honeydew;
  }
  #i {
    background-color: #130752;
    color: honeydew;
  }
}


@media (min-width: 790px) {
  #a {
    background-color: #fdaef3;
  }
  #b {
    background-color: #ec8fe0;
  }
  #c {
    background-color: #eb73e1;
  }
  #d {
    background-color: #eb73e1;
  }
  #e {
    background-color: #c43dc4;
  }
  #f {
    background-color: #c43dc4;
  }
  #g {
    background-color: #c43dc4;
  }
  #h {
      background-color: #c43dc4;
  }
  #i {
    background-color: #7e066e;
  }
}

